<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981352884655-pqem10viv8u7sj0vqu9618uvh3a8quu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981352884655-pqem10viv8u7sj0vqu9618uvh3a8quu3</string>
	<key>API_KEY</key>
	<string>AIzaSyDaVdDfMHFSGOUVBT5f8bm4l7T12SdXOD8</string>
	<key>GCM_SENDER_ID</key>
	<string>981352884655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covatt</string>
	<key>PROJECT_ID</key>
	<string>covatt-7ca4a</string>
	<key>STORAGE_BUCKET</key>
	<string>covatt-7ca4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981352884655:ios:2cb7f8010203ae585a675a</string>
</dict>
</plist>